.bgtexture--top-left {
  position: relative;
  overflow: hidden;
}
.bgtexture--top-left > * {
  position: relative;
  z-index: 1;
}
.bgtexture--top-left::before {
  position: absolute;
  top: 0;
  left: 0;
  background-image: url(../images/top-left-texture.png);
  background-repeat: no-repeat;
  background-size: 25%;
  background-position: top left;
  content: "";
  width: 100%;
  height: 100%;
}

.bgtexture--bottom-right {
  position: relative;
  overflow: hidden;
}
.bgtexture--bottom-right > * {
  position: relative;
  z-index: 1;
}
.bgtexture--bottom-right::before {
  position: absolute;
  top: 0;
  right: 0;
  background-image: url(../images/bottom-right-texture.png);
  background-repeat: no-repeat;
  background-size: 10%;
  background-position: bottom right;
  content: "";
  width: 100%;
  height: 100%;
}