.bgtexture--top-left {
  position: relative;
  &::before {
    position: absolute;
    top: 0;
    left: 0;
    background-image: url(../images/top-left-texture.png);
    background-repeat: no-repeat;
    background-size: 25%;
    background-position: top left;
    content: "";
  }
}
